{% extends 'admin/layout.html.twig' %}

{% block title %}Small talk{% endblock %}

{% block body_id 'admin_list_msg' %}

{% block main %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ app.user.fullName }}! ✅ <small>small talk:</small></h1>
    <div class="row" style="overflow-y:scroll; min-height: 300px;max-height: 400px;padding: 3px;"  id="container-message" data-path="{{ path('admin_subscribe_channel') }}">
        <div class="alert alert-success">Message</div>
    </div>
    <div class="row" style="padding-top: 3px;">
        {{ form_start(formPubSub,{'attr':{'id':'form_pub_sub', 'data-path':path('admin_send_new_msg')}}) }}
        <div class="form-group col-sm-8">
            {{ form_widget(formPubSub.message) }}
        </div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-default">Send message</button>
        </div>

        {{ form_end(formPubSub) }}
    </div>
</div>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_post_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_post'|trans }}
        </a>
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('message') }}
{% endblock %}
